.table-hover {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}

tr:nth-child(even) {
	text-align: center;
	background-color: #dddddd;
}

table, th, td, tr {
   border: 1px solid black;
}

table {
    margin-top: 40px;
    margin-bottom: 40px;
}

h1, h2, p {
	text-align: center;
}