canvas {
	width: 100%;
	height: auto;
}

*:focus {
	outline: none;
}

.btn {
	border-style: solid;
}

#myInfo {
	visibility: hidden;
}

#infobutton {
	visibility: hidden;
}

.btn-red {
	border-color: darkred;
	background-color: darkred;
	color: white;
}

.btn-red:hover {
	border-color: red;
	background-color: red;
}