<!doctype html>
	<head>
		<title>Feedback</title>
		<!-- JAVASCRIPT -->
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		
		<!-- CSS -->
		<link type="text/css" rel="stylesheet" href="../static/css/feedback.css">
	</head>
	<body>
		<h1>Bedankt voor je deelname.</h1>
		<p>Hieronder wat feedback om je te helpen bij je volgende gesprek. Neem de feedback door en haal daarna de instructeur erbij om een nieuwe gesprek te starten.</p>

		<table class="table-hover">
			<tr>
				<th>Stap 1: Uitleggen dat er een keuze gemaakt kan worden</th>
				<td><p id="sdmFollowed-step1"></p></td>
			</tr>
			<tr>
				<th>Stap 2: Verschillende voor- en nadelen van alle therapiën benoemd</th>
				<td><p id="sdmFollowed-step2"></p></td>
			</tr>
			<tr>	
				<th>Stap 3: Gevraagd naar de voorkeuren van de patiënt</th>
				<td><p id="sdmFollowed-step3"></p></td>
			</tr>	
			<tr>	
				<th>Stap 4: Samen met de patiënt een keuze gemaakt</th>
				<td><p id="sdmFollowed-step4"></p></td>
			</tr>
			<caption><i>Feedback 1: In hoeverre heb je het protocol voor gezamenlijke besluitvorming gevolgd.</i></caption>
		</table>

		<table class="table-hover">
			<tr>
				<th><p id="choicesMatch"></p></th>
			</tr>
			<caption><i>Feedback 2: Hebben jij en de patiënt dezelfde keuze gemaakt over de gekozen therapie.</i></caption>
		</table>

		<table class="table-hover">
			<!-- <tr>
				<th>Geen Therapie</th>
				<td><p id="noTherapy"></p></td>
			</tr> -->
			<tr>	
				<th>Hormoontherapie</th>
				<td><p id="hormonetherapy"></p></td>
			</tr>	
			<tr>	
				<th>Chemotherapie</th>
				<td><p id="chemoTherapy"></p></td>
			</tr>
			<caption><i>Feedback 3: In hoeverre heb je de patiënt voldoende ingelicht over elke therapie.</i></caption>
		</table>

		<table class="table-hover">
			<tr>
				<th>Hier had de patiënt het graag over willen hebben</th>
				<td><p id="preferredDesires"></p></td>
			</tr>
			<tr>	
				<th>Dit denkt de patiënt dat jullie voornamelijk besproken hebben</th>
				<td><p id="discussedDesires"></p></td>
			</tr>	
			<caption><i>Feedback 4: In hoeverre heb je de patiënt voldoende ingelicht over haar wensen.</i></caption>
		</table>

		<script>
			var finalFeedback = JSON.parse('{{ processedFeedbackData|safe }}')
			document.getElementById('sdmFollowed-step1').innerHTML = finalFeedback.sdmFollowed.step1.sdmMentionedRemark;
			document.getElementById('sdmFollowed-step2').innerHTML = finalFeedback.sdmFollowed.step2.prosAndConsMentionedRemark;
			document.getElementById('sdmFollowed-step3').innerHTML = finalFeedback.sdmFollowed.step3.preferencesAskedRemark;
			document.getElementById('sdmFollowed-step4').innerHTML = finalFeedback.sdmFollowed.step4.decisionMadeRemark;

			var choicesMatchFeedback = ""
			if(finalFeedback.choicesMatch) {
				choicesMatchFeedback = "Jullie waren het eens over de therapie."
			} else {
				choicesMatchFeedback = "Jullie waren het oneens over de therapie."
			}
			document.getElementById('choicesMatch').innerHTML = choicesMatchFeedback;

			// document.getElementById('noTherapy').innerHTML = finalFeedback.prosAndConsMentioned[1]
			document.getElementById('hormonetherapy').innerHTML = finalFeedback.prosAndConsMentioned[3]
			document.getElementById('chemoTherapy').innerHTML = finalFeedback.prosAndConsMentioned[4]

			document.getElementById('preferredDesires').innerHTML = finalFeedback.desireSatisfaction.mostImportantDesires
			document.getElementById('discussedDesires').innerHTML = finalFeedback.desireSatisfaction.mostTalkedAboutDesires
		</script>
	</body>
</html>